/* Styles specific to the contact page */
.contact-section {
    padding: 120px 20px;
    text-align: center;
    background-image: url("../images/Terassi_bg_hori.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.contact-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.1em;
    max-width: 700px;
    margin: 0 auto 40px auto;
    color: #555;
}

.contact-info {
    background-color: #404040;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-info h3 {
    font-size: 2.0em;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left; /* Center the heading within the info box */
}

.contact-info p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.8;
}

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #404040;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    text-align: left; /* Align form elements */
}

.contact-form-container p {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.8;
}

.contact-form-container h2 {
    font-size: 2.5em;
    color: #000;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center; /* Center the heading within the form container */
}

.contact-form .form-group {
    margin-bottom: 20px;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-family: 'Montserrat', sans-serif;
}

.contact-form textarea {
    resize: vertical; /* Allow vertical resizing */
    min-height: 120px;
}

.contact-form button.btn {
    width: auto; /* Allow button to size naturally */
    display: block; /* Place button on its own line */
    margin: 30px auto 0 auto; /* Center the button below the form */
    padding: 15px 30px;
    font-size: 1.1em;
}

