{% extends "base.html" %}
{% block title %}Terassien Pesu Espoo - Etusivu{% endblock %}

{% block content %}
<a href="/etusivu" class="btn">Takaisin</a>
<div></div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Logo" class="logo-icon">
<div class="image-gallery">
    <img src="{{ url_for('static', filename='images/testiterassi.jpg') }}" alt="Pesty terassi 1" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi2.jpg') }}" alt="Öljytty terassi 2" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi3.jpeg') }}" alt="Terassin huolto 3" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi4.jpg') }}" alt="Pesty terassi 1" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi5.jpg') }}" alt="Öljytty terassi 2" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi6.jpg') }}" alt="Terassin huolto 3" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi7.jpg') }}" alt="Pesty terassi 1" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi8.jpg') }}" alt="Öljytty terassi 2" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi9.jpg') }}" alt="Terassin huolto 3" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi10.jpg') }}" alt="Pesty terassi 1" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi11.jpg') }}" alt="Öljytty terassi 2" class="gallery-img">
    <img src="{{ url_for('static', filename='images/testiterassi12.jpg') }}" alt="Terassin huolto 3" class="gallery-img">
</div>
{% endblock %}