{% extends "base.html" %}
{% block title %}Terassien Pesu Espoo - Etusivu{% endblock %}
{% block header_class %}transparent-header{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hinnasto.css') }}">
{% endblock %}

{% block content %}
<section class="price-page">
    <section class="contact-section">
        <div class="container">
            <h2>Ennen huoltoa</h2>
        </div>
        <div class="image-gallery">
        <img src="{{ url_for('static', filename='images/terassi1e.jpeg') }}" alt="Pesty terassi 1" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi2e.jpeg') }}" alt="Öljytty terassi 2" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi3e.jpeg') }}" alt="Terassin huolto 3" class="gallery-img">
        </div>
    </section>
    <section class="contact-section">
        <div class="container">
            <h2>Huollon jälkeen</h2>
        </div>
        <div class="image-gallery">
        <img src="{{ url_for('static', filename='images/terassi2j.jpeg') }}" alt="Pesty terassi 1" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi3j.jpeg') }}" alt="Öljytty terassi 2" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi4j.jpeg') }}" alt="Terassin huolto 3" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi1j.jpeg') }}" alt="Pesty terassi 1" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi5j.jpeg') }}" alt="Öljytty terassi 2" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi6j.jpeg') }}" alt="Terassin huolto 3" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi7j.jpeg') }}" alt="Pesty terassi 1" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi8j.jpeg') }}" alt="Öljytty terassi 2" class="gallery-img">
        <img src="{{ url_for('static', filename='images/terassi9j.jpeg') }}" alt="Terassin huolto 3" class="gallery-img">
    </div>
</section>
</section>
{% endblock %}