{% extends "base.html" %}

{% block title %}Urbaanipihat - Ota yhteyttä{% endblock %}
{% block header_class %}transparent-header{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/yhteystiedot.css') }}">
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-form-container">
        <h2>Laadukkaat piharakentamisen ja pienremonttien ratkaisut</h2>
        <div class="contact-info">
            <h3>Info</h3>
            <p>Toteutamme myös valikoituja remontointi- ja rakennusprojekteja, joissa yhdistyvät huolellinen suunnittelu, laadukkaat materiaalit ja viimeistelty työnjälki. Otamme vastaan rajatun määrän projekteja kaudessa, jotta voimme keskittyä laatuun ja asiakaskokemukseen.</p>
        </div>
    </div>
</section>
{% endblock %}