{% extends "base.html" %}

{% block title %}Urbaanipihat - Hinnasto ja palvelualue{% endblock %}
{% block header_class %}transparent-header{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="top-container">
        <h2>Tietoa meistä</h2>
        <div class="contact-info">
            <h3>Urbaanipihat on nuorekas ja vastuullinen pihapalvelu Espoosta.</h3>
                <p class="paksu-lause">Meidän intohimona on palauttaa pihoille niiden alkuperäinen kauneus. Siististi, huolellisesti ja kestävästi.</p>
                Panostamme työn laatuun, ystävälliseen asiakaspalveluun ja viimeisteltyyn lopputulokseen joka kerta.
                Käytämme vain hyväksi todettuja materiaaleja ja työmenetelmiä, ja käsittelemme jokaisen pihan kuin se olisi omamme.
            <div>
                <p>Työn jälkeen siivoamme huolellisesti, jotta sinä voit keskittyä nauttimaan lopputuloksesta.
                        Palvelemme kotitalouksia, taloyhtiöitä ja yrityksiä koko pääkaupunkiseudulla.
                        Toimimme luotettavasti, sovitussa aikataulussa ja selkeällä hinnoittelulla ilman yllätyksiä. Tarjoamme myös maksuttoman kartoituksen, jotta löydämme juuri sinun pihallesi sopivan ratkaisun.</p>
            </div>
            <p class="paksu-lause">Urbaanipihat - siisti piha, parempi fiilis.</p>
        </div>
    </div>
</section>
{% endblock %}
