{% extends "base.html" %}

{% block title %}Terassien Pesu Espoo - Hinnasto ja palvelualue{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block content %}
<a href="/etusivu" class="btn">Takaisin</a>
<div></div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Logo" class="logo-icon">
<section class="contact-section">
    <div class="container">
        <h2>Tietoa meistä</h2>

        <div class="contact-info">
            <p>“Näin työ etenee” - prosessikuvaus:
                1. Ota meihin yhteyttä
                Voit ottaa yhteyttä lomakkeella, WhatsAppilla tai sähköpostitse. Kerro lyhyesti kohteesta, esimerkiksi pinta-ala ja sijainti.
                2. Maksuton kartoitus
                Sovitaan ilmainen kartoituskäynti, jossa arvioimme terassin kunnon ja tarvittavat toimenpiteet. Saat samalla selkeän hinta-arvion.
                (pienellä tämän alas): Kartoitus on maksuton, kun työ tilataan. Muuten veloitamme 20 € arviointikäynnistä kattamaan matkakulut ja ajan.
                3. Suunnittelu ja sävyn valinta
                Autamme valitsemaan sopivan öljysävyn tai muun käsittelyn – tarvittaessa teemme testikohdan.
                4. Työn toteutus
                Saavumme sovittuna päivänä, suojaamme ympäristön ja teemme työn huolellisesti alusta loppuun. Käytämme laadukkaita materiaaleja ja tarkkoja työmenetelmiä.
                5. Siisti lopputulos ja tarkistus
                Siivoamme jälkemme ja käymme työn tuloksen vielä yhdessä läpi. Vasta kun olet tyytyväinen, olemme valmiit.</p>
        </div>
    </div>
</section>
{% endblock %}
