{% extends "base.html" %}

{% block title %}Urbaanipihat - Ota yhteyttä{% endblock %}
{% block header_class %}transparent-header{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/yhteystiedot.css') }}">
{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="contact-form-container">
        <h2>Ota yhteyttä</h2>
        <p>Voit ottaa meihin yhteyttä seuraavilla tavoilla. Vastaamme mahdollisimman pian!</p>

        <div class="contact-info">
            <h3>Yhteystiedot:</h3>
            <p><strong>Puhelin: </strong>+358409693756</p>
            <p><strong>Sähköposti: </strong>henrik.suokas@gmail.com</p>
        </div>
    </div>
</section>
{% endblock %}